body {
    font-family: 'Segoe UI', sans-serif;
    background-color: "#f3f3f3";
    text-align: center;
    padding: 50px;
}

.card {
    background-color: white;
    width: 280px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: box-shadow .7s ease;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h2 {
    color: #333;
    margin-bottom: 5px;
}

.card p {
    color: #555;
    font-size: 15px;
    margin: 8px 0;
}

